/* CheckoutPage.css */

.checkout-page {
    text-align: center;
  }
  
  .checkout-heading {
    color: #4caf50; /* Green color */
    margin-bottom: 20px; /* Added margin for spacing */
  }
  
  .checkout-text {
    margin-bottom: 30px; /* Adjusted margin for spacing */
  }
  
  .home-link {
    display: inline-block;
    padding: 15px 30px; /* Adjusted padding for a larger button */
    background-color: #a4b3bf; /* Blue color */
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .home-link:hover {
    background-color: #0b7dda; /* Darker blue on hover */
  }
  